.textSet{
  padding: 1% 8%;
  ;margin: 0 auto;
  font-style: italic;
  line-height: 26px;
  font-weight: 400;
  font-size: 18px;
}

@media (max-width: 767px){
  .container{
      max-width: none;
      min-width: 640px;
  }
}
